header {
  display: flex;
  justify-content: space-between;
  padding: 20px 70px;
  align-items: center;
}
ul {
  display: flex;
  gap: 77px;
  list-style: none;
  align-items: center;
}
a {
  text-decoration: none;
  color: black;
}
.icons {
  height: 20px;
}
main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80vh;
}
.h1button {
  display: flex;
  gap: 20px;
  flex-direction: column;
  gap: 74px;
  width: 384px;
  height: 407px;
  margin: 160px 120px;
}
.woman {
  margin-top: 360px;
  width: 730px;
  height: 947px;
}
h1 {
  width: 384px;
  height: 280px;
  color: #5c5c5c
}
.button-1 {
  height: 53px;
  width: 205px;
  padding: 16px 60px;
}
