* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  gap: 80px;
  width: 100%;
  height: 1023px;
}
header {
  display: flex;
  justify-content: space-between;
  padding: 20px 70px;
  align-items: center;
}
ul {
  display: flex;
  gap: 77px;
  list-style: none;
  align-items: center;
}
a {
  text-decoration: none;
  color: black;
}
.icons {
  height: 20px;
  display: flex;
  gap: 24px;
  align-items: center;
}
.secondheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 947px;
}
.h1button {
  display: flex;
  gap: 74px;
  flex-direction: column;
  width: 624px;
  height: 731px;
  padding-top: 162px;
  padding-right: 120px;
  padding-bottom: 162px;
  padding-left: 120px;
}
.woman {
  width: 730px;
  height: 947px;
}
.button-1 {
  height: 53px;
  width: 205px;
  padding: 16px 60px;
  background-color: #e6897c;
  color: white;
  font-family: "Roboto", sans-serif;
  border: none;
  font-weight: 600;
}
.maindiv-1 {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  gap: 97px;
}
.mainh1 {
  width: 305px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 48px;
  color: #5c5c5c;
}
.main3pics {
  display: flex;
  gap: 20px;
  width: 1201px;
  height: 547px;
}
.mainthreediv {
  display: flex;
  flex-direction: column;
  width: 387px;
  height: 747px;
  color: black;
}
.mainpic-1 {
  border-top-left-radius: 193.5px;
  border-top-right-radius: 193.5px;
}
.mainpics {
  width: 387px;
  height: 471px;
}
.purppic {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 387px;
  height: 76px;
  background-color: #b7bad9;
  color: white;
}
.purpp {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 24px;
}
.main-1-button {
  padding: 20px 60px;
  width: 386px;
  height: 65px;
  background-color: #e6897c;
  border: none;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 18px;
  cursor: pointer;
}
.maindiv-2 {
  display: flex;
  justify-self: center;
  align-items: center;
  gap: 122px;
  flex-direction: row;
  width: 1190px;
  height: 727px;
}
.main2-imgicon {
  display: flex;
  gap: 32px;
  align-items: center;
}
.leftrighticons {
  display: flex;
  flex-direction: row;
  align-self: flex-end;
}
.main2-h1button {
  display: flex;
  gap: 60px;
  width: 384px;
  height: 449px;
  flex-direction: column;
}
.main2-button {
  width: 205px;
  padding: 16px 60px;
  height: 53px;
  background-color: #e6897c;
  border: none;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 18px;
  cursor: pointer;
}
.main2-h1 {
  width: 384px;
  height: 336px;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 48px;
  color: #5c5c5c;
}
.wholefooter {
  background-color: #f1e6e566;
  width: 100%;
  height: 284px;
  padding: 52px 28px;
  display: flex;
  gap: 10px;
  justify-content: space-between;
}
.beforefootertext {
  display: flex;
  width: 631px;
  height: 168px;
  justify-content: flex-end;
}
.footertext {
  width: 451px;
  height: 168px;
  display: flex;
  flex-direction: row;
  align-self: center;
  gap: 183px;
}
.footertext-1,
.footertext-2 {
  display: flex;
  flex-direction: column;
  gap: 28px;
}
.footertext-2-p,
.footertext-1-p {
  width: 96px;
  height: 21px;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #5c5c5c;
}
.footertext-2-p {
  width: 172px;
  height: 21px;
}
.footermassai {
  width: 287px;
  height: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.footerimg {
  width: 109px;
  height: 98px;
}
.footericons {
  display: flex;
  gap: 20px;
  flex-direction: row;
  align-items: center;
  width: 124px;
  height: 28px;
}
@media screen and (max-width: 1250px) {
  .wholefooter {
    width: 1440px;
  }
  .maindiv-1 {
    width: 1440px;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    gap: 50px;
  }
  .maindiv-2 {
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 32px;
    flex-direction: row;
    width: 990px;
    height: 727px;
  }
  .main-2 {
    width: 1440px;
  }
  header {
    width: 1440px;
  }
  .secondheader {
    width: 1440px;
  }
  .button-1 {
    height: 83px;
    width: 235px;
    font-size: 25px;
  }
  .headerh1 {
    font-size: 70px;
  }
  .purpp {
    font-size: 40px;
  }
  .main-1-button {
    font-size: 30px;
  }
}
.aboutbody {
  display: flex;
  width: 100vw;
  flex-direction: column;
  gap: 0px;
}
.aboutmain {
  display: flex;
  flex-direction: column;
  gap: 74px;
  align-items: center;
}
.abouttext {
  background-color: #979bd033;
  width: 100vw;
  height: 288px;
  padding: 40px 80px;
  display: flex;
  gap: 11px;
  justify-content: center;
}
.aboutp {
  color: #5c5c5c;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
  width: 600px;
  height: 208px;
}
.stoneabout {
  width: 795.89px;
  height: 1037.6px;
}
.aboutfooter {
  position: relative;
  bottom: -74px;
}
@media screen and (max-width: 1250px) {
  .aboutbody {
    width: 1440px;
  }
  .abouttext {
    width: 100vw;
    height: auto;
    padding: 20px 40px;
  }
  .abouttext {
    width: 100%;
    height: 350px;
  }
  .headerli {
    font-size: 25px;
  }
  .aboutp {
    font-size: 28px;
    width: 900px;
  }
}
@media screen and (max-width: 550px) {
  .headerli {
    font-size: 45px;
  }
  .search,
  .shop {
    width: 40px;
  }
  .vector {
    width: 30px;
  }
  .fb,
  .insta,
  .mail {
    width: 40px;
  }
  .stoneabout {
    width: 900px;
    height: auto;
  }
  .abouttext {
    height: 600px;
  }
  .aboutp {
    position: relative;
    top: 30px;
    font-size: 40px;
    width: 1000px;
  }
}

body,
header,
footer {
  width: 1440px;
}
.contactmain {
  display: flex;
  justify-content: center;
}
.contactdiv {
  width: 834px;
  height: 489px;
  display: flex;
  gap: 106px;
}
.hw {
  width: 363px;
  height: 489px;
}
.contactus {
  width: 365px;
  height: 488px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.inputs {
  width: 365px;
  height: 391px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.text,
.email,
.textus {
  width: 365px;
  height: 55px;
  border: 1px solid #5c5c5c;
  padding: 10px;
}
.textus {
  height: 201px;
}
@media screen and (max-width: 1250px) {
  .contacth2 {
    font-size: 40px;
  }
  .text,
  .email {
    height: 85px;
  }
  .textus {
    height: 230px;
  }
}
@media screen and (max-width: 700px) {
  .contactdiv {
    height: auto;
    width: auto;
  }
  .hw {
    width: 700px;
    height: auto;
  }
  .contacth2 {
    font-size: 70px;
  }
  .text,
  .email {
    height: 435px;
  }
  .textus {
    height: 1520px;
  }
}
